<div class="container mx-auto w-50 text-center pt-5">
    <h1 class="display-4">Serviço: <%= @service.title %> </h1>
    <h3 class="">  Veiculo: <%= @service.vehicle.model %> </h3>   
</div>

<div class="container mx-auto pt-5 mt-5 w-50">