<style>
    #jumbotron {
        background: rgba(000, 000, 000, 0.80);
    }
    body{
        background-image: url("https://st.hotrod.com/uploads/sites/21/2014/07/1934-ford-coupe-front-three-quarter.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: white;
    }
   
</style>

<div class="container pt-5 text-white"  style="padding-bottom: 500px">
    <div class="jumbotron " id="jumbotron">
        <div class="container py-5 text-center ">
            <h1 class="display-4 fw-bold"> <span style="font-family: norse; font-size: 85px;"> Valhalla Oficinas </span> </h1>
            <h1 class="display-5 text-center"> Boas vindas meu caro Viking! </h1>
            <p class="h4">Nosso sistema foi feito para <span class="text-danger" > EXECUTAR </span> demoras e atrasos em seus processos de trabalho!</p>
            <img class="" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.pngall.com%2Fwp-content%2Fuploads%2F2016%2F06%2FDwarf-PNG-File.png&f=1&nofb=1" style="width: 400px; height:400px;">
            <% if current_user.is_admin%>
              <p>
                <a href="/dashboards" class="btn-lg btn-danger mx-auto"> Dashboard </a>
              </p>
            <% end %>
        </div>
    </div>
</div>
    