<style>
    body{
        background-image: url("mclaren.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center ;

        color: white;
        
        
    }


</style>


<div class="container pt-5" style="padding-bottom: 500px">
    <div class="jumbotron bg-dark">
        <div class="container py-5 text-center">
            <h1 class="display-4"> Bem vindo ao Valhalla Oficinas</h1>
            <img class="img-fluid mx-auto" src="viking.png" style="width: 400px; height:400px;">
            <h1 class="display-5 text-center py-5">Utilize os atalhos no topo para navegar pelo nosso aplicativo</h1>
            <a href="/dashboard" class="btn-lg btn-danger mx-auto"> Dashboard </a>

        </div>
    </div>
</div>
    