<style>
    body{
        background-image: url("mclaren.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center ;

        color: white;
        
        
    }


</style>


<div class="container pt-5 d-flex" style="padding-bottom: 500px">
    <div class="jumbotron bg-dark">
        <div class="container py-5 text-center">
            <h1 class="display-4"> Bem vindo ao Valhalla Oficinas</h1>
            <img class="img-fluid mx-auto" src="viking.png" style="width: 400px; height:400px;">
            <h1 class="display-5 text-center py-5">Veja algumas de nossas FUNCIONALIDADES </h1>
        </div>
        <div class="cadastros ">
            <h1 class="text-center d-flex flex-column pb-2">Cadastros:</h1>
            <div class="card-deck d-flex p-2">
                <div class="card d-flex bg-primary">
                  <div class="card-body d-flex flex-column text-center">
                    <h4 class="card-title">Cadastro de veiculos</h4>
                    <p class="card-text">Cadastre veiculos para serem utilizados em serviços</p>
                    <a href="#" class="mt-auto align-self-end btn btn-lg btn-block btn btn-danger">Cadastre</a>
                  </div>
                </div>
                <div class="card d-flex bg-primary">
                  <div class="card-body d-flex flex-column text-center">
                    <h4 class="card-title">Cadastro de serviços</h4>
                    <p class="card-text">Cadastre um serviço para ser realizado por um dos funcionarios.</p>
                    <a href="#" class=" mt-auto align-self-end btn btn-lg btn-block  btn btn-danger">Cadastre</a>
                  </div>
                </div>
                <div class="card d-flex bg-primary">
                  <div class="card-body d-flex flex-column text-center">
                    <h4 class="card-title">Cadastro de tarefas</h4>
                    <p class="card-text">Cadastre tarefas que devem ser realizadas para concluir um serviço</p>
                    <a href="#" class="mt-auto align-self-end btn btn-lg btn-block btn btn-danger">Cadastre</a>
                  </div>
                </div>
                <div class="card d-flex bg-primary">
                  <div class="card-body d-flex flex-column text-center">
                    <h4 class="card-title">Cadastro de clientes</h4>
                    <p class="card-text">Cadastre um cliente que possa enviar e retirar veiculos</p>
                    <a href="#" class="mt-auto align-self-end btn btn-lg btn-block btn btn-danger">Cadastre</a>
                  </div>
                </div>
              </div>
        </div>

        <div class="relatorios py-5">
            <h1 class="text-center pb-2">Relatorios:</h1>
            <div class="card-deck">
                <div class="card bg-primary">
                  <div class="card-body text-center">
                    <h4 class="card-title">Relatorio de veiculos</h4>
                    <p class="card-text">NULL</p>
                    <a href="#" class="btn btn-danger">Retirar relatorio</a>
                  </div>
                </div>
                <div class="card bg-primary">
                  <div class="card-body text-center">
                    <h4 class="card-title">Relatorio de serviços por data</h4>
                    <p class="card-text">NULL</p>
                    <a href="#" class="btn btn-danger">Retirar relatorio</a>
                  </div>
                </div>
                <div class="card bg-primary">
                  <div class="card-body text-center">
                    <h4 class="card-title">Relatorio de tarefas</h4>
                    <p class="card-text">NULL</p>
                    <a href="#" class="btn btn-danger">Retirar relatorio</a>
                  </div>
                </div>
                <div class="card bg-primary">
                  <div class="card-body text-center">
                    <h4 class="card-title">Relatorio de clientes</h4>
                    <p class="card-text">NULL</p>
                    <a href="#" class="btn btn-danger">Retirar relatorio</a>
                  </div>
                </div>
              </div>
        </div>
       
    </div>
</div>
