<style>
    #jumbotron {
        background: rgba(000, 000, 000, 0.95);
    }
    body{
        background-image: url("wallpaper-final.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center ;
        color: white;
    }
   
</style>

<div class="container pt-5"  style="padding-bottom: 500px">
    <div class="jumbotron " id="jumbotron">
        <div class="container py-5 text-center ">
            <h1 class="display-4 fw-bold"> <span style="font-family: norse; font-size: 85px;"> Valhalla Oficinas </span> </h1>
            <h1 class="display-5 text-center"> Boas vindas meu caro Viking! </h1>
            <p class="h4">Nosso sistema foi feito para <span class="text-danger" > EXECUTAR </span> demoras e atrasos em seus processos de trabalho!</p>
            <img class="img-fluid mx-auto" src="wp-4.png" style="width: 600px; height:600px;">
            <% if current_user.is_admin%>
              <p>
                <a href="/dashboard" class="btn-lg btn-danger mx-auto"> Dashboard </a>
              </p>
            <% end %>
        </div>
    </div>
</div>
    