<%= render "side-panel"%>

  <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <h1 class="h2">Relatórios de clientes</h1>
                <p>Nesta página você poderá inspecionar dados relacionados a clientes </p>
                <%= render "client-featured"%>
                <div class="row">
                <%= render "loyal-clients" %>
                </div>
                <div class="row">
                </div>
            </main>
        </div>
    </div>