<%= render "side-panel"%>

  <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <h1 class="h2">Relatórios de Veiculos</h1>
                <p>Nesta página você poderá inspecionar dados relacionados a veiculos </p>
                <%= render 'vehicle-featured'%>
                <div class="row mb-5">
                    <%= render 'vehicles-featured'%>
                </div>
                <div class="row my-5">
                    <%= render 'vehicles_registered_this_month' %>
                </div>
                <div class="row my-5">

                </div>
            </main>
        </div>
    </div>