<h1> ronaldo </h1>

<%= form_with model: @dashboard do |form|%>            
  <div class="form-group pt-2">
      <%= form.label :comission_percentage, value: ":" %> 
      <%= form.text_field :comission_percentage, {class: "form-control", placeholder: "Digite o valor da porcentagem para o calculo da comissao"} %>
  </div>

  <div class="lead pt-5">
      <%= form.submit "Concluir", class: "btn btn-primary" %>
  </div>
<% end %>