<%= render "side-panel"%>

  <main class="container">
                <h1 class="h2">Relatórios de Peças </h1>
                <p>  </p>
                    <%= render "part-featured"%>
                <div class="row my-5">
                    <%= render "part_by_sale" %>
                </div>
            </main>
        </div>
    </div>