<%= render "side-panel"%>

  <main class="container">
                <h1 class="h2">Relatórios de Orçamentos </h1>
                <p> Nesta página você poderá inspecionar dados relacionados a orçamentos </p>
                <%= render 'sale-featured' %>
                <div class="row my-5">

                </div>
            </main>
        </div>
    </div>