<%= render "side-panel"%>

  <main class="container">
                <h1 class="h2"> Relatórios de Funcionários </h1>
                <p> Nesta página você poderá inspecionar dados relacionados a orçamentos </p>
                <div class="row mb-5">
                <%= render 'user-featured' %>

               <div class="row mb-5">
                    <%= render 'user_by_sale' %>
                </div>

                <div class="row my-5">

                </div>
            </main>
        </div>
    </div>