      
    <div class="container mx-auto w-50 text-center pt-5">
        <h1 class="text-center">Veículos</h1>
       
        <div class="card w-56 border border-primary text-center mx-auto mt-5"> 
            <div class="card-body">
                <div class="card-title">
                    Cadastre um novo veículo
                </div>
                <%= link_to "Clique aqui", new_vehicle_path, class: "btn btn-primary" %>
            </div>
        </div>
    </div>
        <h2 class="text-center mx-auto pt-5 pb-2"> Todos os Veículos cadastrados: </h2>
        <div class="container mx-auto"> 
            <div class="jumbotron mx-auto my-4 border border-dark mx-auto">
                <div class="row">        
                    <% @vehicles.each_slice(25) do |vehicles|%>
                        <% @vehicles.each do |vehicle|%>
                            <div class="col-lg-6"> 
                                <%= link_to vehicle.model, vehicle%>
                                <p class="text-normal mb-4">Placa: <span style="color: red"> <%= vehicle.registration_plate %></span></h2>
                            </div>
                        <% end %>
                    <% end %>
                </div>
                <div class="digg_pagination">
                    <%= will_paginate @vehicles, :container => false %>
                </div>
            </div>
        </div>
    </div>
      