body{height: 900px;}
header {
	background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.wallpapersden.com%2Fimage%2Fdownload%2Fassassins-creed-valhalla-winter_bGprbmiUmZqaraWkpJRmbmdlrWZlbWU.jpg&f=1&nofb=1");
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding-bottom: 50px;
	padding-top: 50px;
	color: white;
	text-shadow: 1px 1px 1px #333;
  	background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fstatic.fjcdn.com%2Fcomments%2FI%2Bve%2Balways%2Bnoticed%2Ba%2Bmassive%2Bproblem%2Bwith%2Bthe%2BThor%2Bmovie%2B_25bc7c68fbebbf4eda9a6b94888d2880.png&f=1&nofb=1");
    background-repeat: no-repeat, repeat;
	background-position: left bottom;
	  background-size: 400px 400px;
	
}

h1 {
	font-size: 80px;
	margin-bottom: 30px;
}

h3, p {
	margin-bottom: 30px;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}