<p id="notice"><%= notice %></p>

<h1>Orçamentos</h1>

<table id="sales-datatable" class="table table-striped table-bordered" style="width:100%" data-source="<%= sales_path(format: :json) %>">
  <thead>
    <tr>
      <th>ID</th>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Valor Total</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>




<%= link_to 'New Sale', new_sale_path %>


<script type="text/javascript">
  $(document).ready( function() {
  $('#sales-datatable').dataTable({
      "processing": true,
      "serverSide": true,
      "ajax": {
        "url": $('#sales').data('source')
      },
      "pagingType": "full_numbers",
      "columns": [
        {"data": "id"},
        {"data": "name"},
        {"data": "description"},
        {"data": "value"},
      ]
    });

        });
</script>