name: CI/CD
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
   
    steps:
      - uses: actions/checkout@v1
      - name: Ruby Setup
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0.3
      - uses: borales/actions-yarn@v3.0.0
        with:
          cmd: install
      - name: Build and run test
        env:
          RAILS_ENV: test
        run: |
          sudo apt-get -yqq install libpq-dev
          gem install bundler
          bundle install --jobs 4 --retry 3
          bundle exec rake db:create
          bundle exec rake db:migrate
            rails test