<!DOCTYPE html>
<html>

<head>
    <%= wicked_pdf_stylesheet_link_tag "pdf" %>
    <title>Valhalla Oficinas - PDF </title>
</head>

<body>

    <header>
        <div class="overlay">
            <h1>Valhalla Oficinas</h1>
            <h3>ORCAMENTO FINALIZADO</h3>

        </div>
    </header>



    <%= yield %>

    </div>
</body>

</html>